header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(252, 255, 253);

  img {
    height: 30px;
  }
}

nav {
  display: flex;
  gap: 16px;

  .fonte {
    font-size: 15px;
    text-decoration: none;
    color: #038f26
  }

  a {
    font-size: 15px;
    text-decoration: none;
    color: black
  }
}